@media screen and (max-width: 480px) {

    .hero-main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100vh - 55px);
        position: relative;
    }

    /*MENU HAMBURGUESA*/

    header .toggle {
        text-decoration: none;
        color: #E9ECF4;
        background: none;
        border: none;
        font-size: 1.5rem;
        display: block;
        margin-right: 25px;
        cursor: pointer;
    }

    header .navbar {

        width: 100vw;
        height: 55px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 999;


    }

    /*MENU ENLACES*/


    header .menu {

        position: fixed;
        top: 55px;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ee0979;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff6a00, #ee0979);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        transform: translateX(-100%);
        transition: all .4s ease-in-out;


    }

    header .menu-on {
        transform: translateX(0%);
        z-index: 1;
    }

    header .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        justify-content: space-between;
        margin-top: -80px;
        margin-bottom: 10px;
    }





    header .menu ul li {
        list-style: none;
        margin-right: 14px;
        padding: 1.2rem;


    }

    header .menu ul li a {
        text-decoration: none;
        color: #E9ECF4;
        font-size: 1.2rem;
        font-weight: 300;
        cursor: pointer;

    }

    header .menu ul li a:hover {
        font-weight: 600;
        color: gray;


    }


    /*REDES SOCIALES*/

    header .redes-sociales {
        display: none;

    }


    /*REDES SOCIALES menu*/

    header .redes-sociales_menu {
        display: block;
        font-size: 30px;


    }

    header .redes-sociales_menu a {
        color: #E9ECF4;
        margin: 10px;
    }

    header .redes-sociales_menu a:hover {
        color: gray;
        margin-right: 10px;
    }


    /*IMAGEN DE LA PORTADA PRINCIPAL*/

    .hero-img {

       width: 1500px;
        overflow: hidden;
        filter: drop-shadow(10px 5px 4px rgba(12, 12, 12, 0.323))contrast(110%);
        margin-top: 140px;



    }

   



    /*IMAGEN PRINCIPAL*/




    .logo {
        width: 25px;
        margin-left: 20px;

    }


    /*waves*/

    .waves {
        position: relative;
        top: 52px;
        z-index: -1;
    }



    .hero-main {
        height: 300px;
    }


    /* BOTON reutilizable*/

    .action {


        font-size: 12px;
        text-decoration: none;
        border-radius: 18px;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        margin: 15px;
        font-family: 'Press Start 2P', cursive;



    }


    .action a {
        color: white;
        text-decoration: none;
        font-family: 'Press Start 2P', cursive;


    }



    .action-red {
        color: white;
        background-color: #da251c;
        padding: 12px 15px;


    }


    .action-red:hover {
        background-color: #C43535;
    }

    .action-red:active {
        background-color: #A62828;
    }









    /*DIVISION IMAGEN*/

    .division {
        height: 450px;
        margin-top: 45px;
    }

    .division-nosotros-foto img {
        width: 150px;
        position: absolute;
        top: 20px;
        right: 550px;

    }

    .division-titulo{
        margin-bottom: 100px;
    }

    .division-titulo h2 {
        font-size: 24px;
     

    }




    .hero-social__division a{
        color: #fff;
        font-size: 22px;
        margin: 10px;
        
    }



    /*CONTENIDO NOSOTROS*/

    #nosotros-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .contenido-nosotros {
        background: #C43535;
        width: 98%;
        height: 90vh;
        display: grid;
        border-radius: 8px;
        margin: 5px auto;


        grid-template-columns: 1fr;

    }




    .contenido-nosotros-texto {
        margin-top: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenido-nosotros-texto h2 {
        font-size: 50px;
        margin-top: 50px;

    }

    .contenido-nosotros-texto p {
        font-size: 16px;
        text-align: justify;
        margin: 25px;
        margin-top: -120px;



    }




    /*Cardss (PERSONAJES DE DSON SEB Y MATT)*/


    .container-cards {
        margin-top: 60px;
    }



    .container-cards .card {
        margin-top: -70px;
    }








    /*MODAL*/

    .modal-container {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .modal {
        width: 100%;
        height: 70%;
        max-width: 300px;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        transition: transform 1s;
        transform: translateY(0%);
        border-radius: 6px;

    }

    .modal-imagen {
        width: 100%;
        height: 60vh;
        margin: 0 auto;
        overflow: hidden;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .modal-cardBg {
        width: 100%;
        height: 50%;
        margin-top: 0px;
        padding: 0;
        margin-bottom: 40px;
        background-size: cover;
        z-index: -1;


    }


    .modal-circulo {
        width: 160px;
        height: 160px;

    }

    .modal-img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;

    }

    .modal-imagen h1 {
        font-size: 18px;
        color: #C43535;
        font-family: 'Press Start 2P', cursive;
        text-align: center;
        padding: 10px;
        margin-top: 25px;


    }


    .modal-imagen h2 {
        font-size: 13px;
        color: #000000;
        text-align: center;
        margin-bottom: -30px;


    }



    .modal-textos {
        width: 100%;
        height: 40vh;
        margin: 0 auto;
        overflow: hidden;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }



    .modal-textos p {
        font-size: 13px;
        text-align: justify;
        margin: 10px;
        margin-top: 0px;

    }

    .modal-close {
        transform: translateY(-200%);
    }



    .modal-social i {
        margin: 15px;
        color: #C43535;
        margin-bottom: 0px;

    }






    /*DIVISION CASSETTE*/

    .division-2 {
        width: 100%;
        height: 150px;
        background: black;
        display: flex;
        align-items: space-between;
        justify-content: center;
        position: relative;


    }

    .division-2 h1 {
        font-size: 30px;

    }

    .division-2 .cassette-2 {
        width: 250px;
        position: absolute;
        top: -220px;
        left: 20px;

    }




    /* DISCOS */

    .card-discos {
        margin: 10px;
        width: 96%;
        height: 2000px;
        margin: 10px auto;

    }







    /*DIVISION GALERY*/

    .division-3 {
        height: 150px;
        margin-top: 300px;
    }

    .division-3 h1 {
        font-size: 30px;
    }

    .division-3 .cassette-3 {
        width: 250px;
        top: -220px;
        left: 120px;
    }



    /*DIVISION GALERIA*/

    .galeria {
        width: 98%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: .8rem;
        row-gap: .5rem;
    }



    /*VIDEOS*/

    /*DIVISION GALERY */

    .division-4 {
        width: 100%;
        height: 150px;
        margin-top: 200px;


    }

    .division-4 h1 {
        font-size: 30px;
    }


    .galeria-video iframe {
        margin: 10px;
    }












    /*hacha-contenedor*/

    .hacha-container {
        background: #fff;
        min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .hacha-texto {
        width: 100%;
        color: transparent;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Anton', sans-serif;
        font-size: 50px;
        font-weight: bold;

        background-image: url(../img/galeria\ de\ imagenes/5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;

        background-clip: text;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


    }

    /*FOOTER DESCRIPTION*/

    .footer-description {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;
        flex-direction: column;
        max-width: 992px;
    }





}